<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to WorkActivities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <div class="text-center">
        <h1>Welcome TRY</h1>
        <p>Please sign in to continue.</p>
        <!--<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary">
            Sign in with Google - in welcome.html (1)
        </a>-->

        <a href="{% url 'social:begin' 'google-oauth2' %}?prompt=select_account">Sign in with Google - in welcome.html (2)</a>
    </div>
</body>
</html>
